:root {
    --green: rgb(80, 154, 6);
    --yellow: rgb(196, 157, 0);
    --red: rgb(202, 2, 2);
    --magenta: rgb(117, 82, 125);
    --blue: rgb(112, 159, 206);
    --cyan: rgb(10, 153, 155);
    --white: rgb(207, 211, 203);
    --black: rgb(3, 5, 1);

    --bright-green: rgb(171, 242, 56);
    --bright-yellow: rgb(253, 245, 77);
    --bright-red: rgb(251, 40, 40);
    --bright-magenta: rgb(208, 164, 207);
    --bright-blue: rgb(139, 223, 254);
    --bright-cyan: rgb(56, 241, 242);
    --bright-white: rgb(254, 254, 254);
    --bright-black: rgb(83, 85, 91);
}

/* Foreground Colors */

.fg-green {
    color: var(--green);
}

.fg-yellow {
    color: var(--yellow);
}

.fg-red {
    color: var(--red);
}

.fg-magenta {
    color: var(--magenta);
}

.fg-blue {
    color: var(--blue);
}

.fg-cyan {
    color: var(--cyan);
}

.fg-white {
    color: var(--white);
}

.fg-black {
    color: var(--black);
}

.fg-bright-green {
    color: var(--bright-green);
}

.fg-bright-yellow {
    color: var(--bright-yellow);
}

.fg-bright-red {
    color: var(--bright-red);
}

.fg-bright-magenta {
    color: var(--bright-magenta);
}

.fg-bright-blue {
    color: var(--bright-blue);
}

.fg-bright-cyan {
    color: var(--bright-cyan);
}

.fg-bright-white {
    color: var(--bright-white);
}

.fg-bright-black {
    color: var(--bright-black);
}

/* Background Colors and Their Default Text Color */

.bg-green {
    background-color: var(--green);
    color: var(--bright-white);
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--bright-white);
}

.bg-red {
    background-color: var(--red);
    color: var(--bright-white);
}

.bg-magenta {
    background-color: var(--magenta);
    color: var(--bright-white);
}

.bg-blue {
    background-color: var(--blue);
    color: var(--bright-white);
}

.bg-cyan {
    background-color: var(--cyan);
    color: var(--bright-white);
}

.bg-white {
    background-color: var(--white);
    color: var(--bright-white);
}

.bg-black {
    background-color: var(--black);
    color: var(--bright-white);
}

.bg-bright-green {
    background-color: var(--bright-green);
    color: var(--bright-white);
}

.bg-bright-yellow {
    background-color: var(--bright-yellow);
    color: var(--bright-white);
}

.bg-bright-red {
    background-color: var(--bright-red);
    color: var(--bright-white);
}

.bg-bright-magenta {
    background-color: var(--bright-magenta);
    color: var(--bright-white);
}

.bg-bright-blue {
    background-color: var(--bright-blue);
    color: var(--bright-white);
}

.bg-bright-cyan {
    background-color: var(--bright-cyan);
    color: var(--bright-white);
}

.bg-bright-white {
    background-color: var(--bright-white);
    color: var(--black);
}

.bg-bright-black {
    background-color: var(--bright-black);
    color: var(--bright-white);
}
