:root {
    --green: rgb(80, 154, 6);
    --yellow: rgb(196, 157, 0);
    --red: rgb(202, 2, 2);
    --magenta: rgb(117, 82, 125);
    --blue: rgb(112, 159, 206);
    --cyan: rgb(10, 153, 155);
    --white: rgb(207, 211, 203);
    --black: rgb(3, 5, 1);

    --bright-green: rgb(171, 242, 56);
    --bright-yellow: rgb(253, 245, 77);
    --bright-red: rgb(251, 40, 40);
    --bright-magenta: rgb(208, 164, 207);
    --bright-blue: rgb(139, 223, 254);
    --bright-cyan: rgb(56, 241, 242);
    --bright-white: rgb(254, 254, 254);
    --bright-black: rgb(83, 85, 91);

    /* Extra Colors from MkDocs Material: https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/ */

    --material-teal: rgb(0, 148, 133);
    --material-green: rgb(76, 174, 79);
    --material-light-green: rgb(139, 195, 75);
}

/* Foreground Colors */

.fg-green {
    color: var(--green);
}

.fg-yellow {
    color: var(--yellow);
}

.fg-red {
    color: var(--red);
}

.fg-magenta {
    color: var(--magenta);
}

.fg-blue {
    color: var(--blue);
}

.fg-cyan {
    color: var(--cyan);
}

.fg-white {
    color: var(--white);
}

.fg-black {
    color: var(--black);
}

.fg-bright-green {
    color: var(--bright-green);
}

.fg-bright-yellow {
    color: var(--bright-yellow);
}

.fg-bright-red {
    color: var(--bright-red);
}

.fg-bright-magenta {
    color: var(--bright-magenta);
}

.fg-bright-blue {
    color: var(--bright-blue);
}

.fg-bright-cyan {
    color: var(--bright-cyan);
}

.fg-bright-white {
    color: var(--bright-white);
}

.fg-bright-black {
    color: var(--bright-black);
}

/* Background Colors and Their Default Text Color */

.bg-green {
    background-color: var(--green);
    color: var(--bright-white);
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--bright-white);
}

.bg-red {
    background-color: var(--red);
    color: var(--bright-white);
}

.bg-magenta {
    background-color: var(--magenta);
    color: var(--bright-white);
}

.bg-blue {
    background-color: var(--blue);
    color: var(--bright-white);
}

.bg-cyan {
    background-color: var(--cyan);
    color: var(--bright-white);
}

.bg-white {
    background-color: var(--white);
    color: var(--bright-white);
}

.bg-black {
    background-color: var(--black);
    color: var(--bright-white);
}

.bg-bright-green {
    background-color: var(--bright-green);
    color: var(--bright-white);
}

.bg-bright-yellow {
    background-color: var(--bright-yellow);
    color: var(--bright-white);
}

.bg-bright-red {
    background-color: var(--bright-red);
    color: var(--bright-white);
}

.bg-bright-magenta {
    background-color: var(--bright-magenta);
    color: var(--bright-white);
}

.bg-bright-blue {
    background-color: var(--bright-blue);
    color: var(--bright-white);
}

.bg-bright-cyan {
    background-color: var(--bright-cyan);
    color: var(--bright-white);
}

.bg-bright-white {
    background-color: var(--bright-white);
    color: var(--black);
}

.bg-bright-black {
    background-color: var(--bright-black);
    color: var(--bright-white);
}

/* Extended Colors in Color Map Tables */

td[class*="extended-colors"] {
    background-color: var(--bg-color);  /* Get the background color from the markup as variable. */
    color: var(--bright-white);  /* Default text color, which may be changed based on the background color. */
}

/* Extended Colors in Code Examples */

pre code span[class*="extended-colors"]  {
    background-color: var(--bg-color);  /* Get the background color from the markup as variable. */
    color: var(--fg-color);  /* Get the foreground color from the markup as variable. */
}

/* OKLCH Color Space Examples */

.oklch-lightness-0-0 {
    background-color: oklch(0.0 0.2 260);
}

.oklch-lightness-0-1 {
    background-color: oklch(0.1 0.2 260);
}

.oklch-lightness-0-2 {
    background-color: oklch(0.2 0.2 260);
}

.oklch-lightness-0-3 {
    background-color: oklch(0.3 0.2 260);
}

.oklch-lightness-0-4 {
    background-color: oklch(0.4 0.2 260);
}

.oklch-lightness-0-5 {
    background-color: oklch(0.5 0.2 260);
}

.oklch-lightness-0-6 {
    background-color: oklch(0.6 0.2 260);
}

.oklch-lightness-0-7 {
    background-color: oklch(0.7 0.2 260);
}

.oklch-lightness-0-8 {
    background-color: oklch(0.8 0.2 260);
}

.oklch-lightness-0-9 {
    background-color: oklch(0.9 0.2 260);
}

.oklch-lightness-0-10 {
    background-color: oklch(1.0 0.2 260);
}

.oklch-chroma-0-00 {
    background-color: oklch(0.5 0.00 260);
}

.oklch-chroma-0-05 {
    background-color: oklch(0.5 0.05 260);
}

.oklch-chroma-0-10 {
    background-color: oklch(0.5 0.10 260);
}

.oklch-chroma-0-15 {
    background-color: oklch(0.5 0.15 260);
}

.oklch-chroma-0-20 {
    background-color: oklch(0.5 0.20 260);
}

.oklch-chroma-0-25 {
    background-color: oklch(0.5 0.25 260);
}

.oklch-chroma-0-30 {
    background-color: oklch(0.5 0.30 260);
}

.oklch-chroma-0-35 {
    background-color: oklch(0.5 0.35 260);
}

.oklch-chroma-0-40 {
    background-color: oklch(0.5 0.40 260);
}

.oklch-hue-0 {
    background-color: oklch(0.5 0.2 0);
}

.oklch-hue-45 {
    background-color: oklch(0.5 0.2 45);
}

.oklch-hue-90 {
    background-color: oklch(0.5 0.2 90);
}

.oklch-hue-135 {
    background-color: oklch(0.5 0.2 135);
}

.oklch-hue-180 {
    background-color: oklch(0.5 0.2 180);
}

.oklch-hue-225 {
    background-color: oklch(0.5 0.2 225);
}

.oklch-hue-270 {
    background-color: oklch(0.5 0.2 270);
}

.oklch-hue-315 {
    background-color: oklch(0.5 0.2 315);
}

.oklch-hue-360 {
    background-color: oklch(0.5 0.2 360);
}
