#terminals-color-support-table + div > div table > tbody > tr:nth-child(1) > td:nth-child(2) {
    color: var(--material-teal);
}

#terminals-color-support-table + div > div table > tbody > tr:nth-child(2) > td:nth-child(2) {
    color: var(--material-green);
}

#terminals-color-support-table + div > div table > tbody > tr:nth-child(3) > td:nth-child(2) {
    color: var(--material-light-green);
}

#color-model-gradients-table > tbody > tr > td {
    vertical-align: middle;
}

#oklch-to-rgb-conversion-table + div > div table > tbody > tr:nth-child(1) > td:nth-child(2) {
    background-color: rgb(255 0 0);
}

#oklch-to-rgb-conversion-table + div > div table > tbody > tr:nth-child(1) > td:nth-child(3) {
    background-color: rgb(0 255 0);
}

#oklch-to-rgb-conversion-table + div > div table > tbody > tr:nth-child(1) > td:nth-child(4) {
    background-color: rgb(0 0 255);
}
