mike==1.1.2
mkdocs==1.5.3
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-material==9.3.1
mkdocs-material-extensions==1.2
mkdocs-minify-plugin==0.7.1
mkdocstrings==0.23.0
mkdocstrings-python==1.7.0
