name: Test MkDocs

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  test-docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install -r ./docs/requirements.txt
      - run: pip install .
      - run: mkdocs build --strict --verbose
